.full-viewport-height {
    height: 100vh;
}


.background-stretch {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

/* @font-face {
  font-family:"avenirnextbold";
  src: url("../../css/font/avenirnextbold/GothaProBol.otf") format("opentype");      
}

@font-face {
  font-family:"yakuhei";
  src: url("../../css/font/yakuhei85.ttf") format("opentype");     
}

@font-face {
  font-family:"yakuhei65";
  src: url("../../css/font/yakuhei65.ttf") format("opentype");     
} */

body{
  -webkit-font-smoothing:antialiased;
  /* font-family:"avenirnextbold","yakuhei65"!important; */
}

h1{
  -webkit-font-smoothing:antialiased;
  /* font-family:"avenirnextbold","yakuhei"!important; */
}

/* .frosted-glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 6rem;
  border-radius:
} */

.custom-body-bg-color {
  background-color: #ffffff;
}

.custom-link-color {
  color: #000000;
}
.custom-link-color:hover {
  color: #FF9000;
  text-decoration: none;
}



.custom-file-upload {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  background-color: #ffffff7b;
  /* position: relative; */
}

.custom-file-upload input[type="file"] {
  /* display: none; */
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;

}

.custom-file-upload span {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  /* position: fixed; */
  left:0;
  right:0;
}

.custom-file-upload:hover {
  background-color: #fffffffa;
}

.dashed-border {
  border: 3px dashed black;
  border-radius: 6px;
}

.list-item {
  background-color: #f2f2f2;
}

a{
  text-decoration: none!important;
  color: #fff!important;
}

#main-card a{
  font-size: smaller!important;
}

#main-card{
  font-size: smaller!important;
  max-height: 500px!important;
  overflow-y: auto!important;
}

.sticky-div {
  position: -webkit-sticky!important;
  position: sticky!important;
  bottom: 0!important;
}
